<h2>Avoir ou être</h2>

<div class="question_choix">
    <div class="question_choix-question">
        How old are you?
    </div>

    <div class="question_choix-reponse-bloc">
        <div class="question_choix-reponse">
            <input type="radio" name="reponse" value="1">
            Je suis ... 
        </div>
        <div class="question_choix-reponse">
            <input type="radio" name="reponse" value="2">
            Je serai ... 
        </div>
        <div class="question_choix-reponse">
            <input type="radio" name="reponse" value="3">
            J'ai ... 
        </div>
        <div class="question_choix-reponse">
            <input type="radio" name="reponse" value="4">
            J'aurai ... 
        </div>
    </div>
</div>